body {
    width: 100%;
    background-image: url(../images/psychic-ability.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.navbar {
    opacity: .5;
}

.navbar-brand {
    width: 100%;
    margin:auto;
    font-size:30px;
}